* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #F8F8F8;
  height: 100dvh;
  width: 100dvw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

img {
  width: 300px;
  height: 200px;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100dvh;
  width: 100dvw;
}

div.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 60dvh;
  width: 50%;
  background-color: #ffffff;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  padding: 1rem;
}

h1 {
  font-size: 2rem;
  color: #333;
  margin-bottom: 1rem;
}

button {
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #555;
}

div.container form {
  display: flex;
  gap: 10px;
  width: 80%;
}

input.form-control {
  padding: 10px;
  border: 1px solid #333;
  border-radius: 5px;
  width: 100%;
}

button.btn {
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 40%;
}

div.text-center {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

button.btn.btn-success.mt-3 {
  width: 100%;
}

@media (max-width: 380px) {
  img {
    width: 150px;
    height: 100px;
    margin-top: 10px;
  }

  div.container {
    width: 80%;
    height: 90dvh;
    padding: 1rem;
    margin-bottom: 10px;
  }

  h1 {
    font-size: 1.5rem;
  }

  form.my-3 {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  div.container {
    && form {
      && input.form-control {
        width: 50%;
        margin: 0 auto;

      }

      && button.btn {
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
      }
    }
  }

  div.text-center.mt-4 {
    flex-direction: column;
    gap: 10px;
  }

  div.text-center.mt-4 button {
    width: 100%;
    height: 45px;
  }
}

@media (max-width: 670px) {
  img {
    width: 200px;
    height: 100px;
  }

  div.container {
    width: 80%;
    height: auto;
    padding: 2rem;
  }

  form.my-3 {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  div.container {
    && form {
      && input.form-control {
        width: 50%;
        margin: 0 auto;

      }

      && button.btn {
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
      }
    }
  }

  div.text-center.mt-4 {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  div.text-center.mt-4 button {
    width: 100%;
    height: 50px;
  }
}

@media (max-width: 1200px) {
  img {
    width: 200px;
    height: 100px;
  }

  div.container {
    height: auto;
    padding: 2rem;
  }

  form.my-3 {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  div.container {
    && form {
      && input.form-control {
        width: 50%;
        margin: 0 auto;

      }

      && button.btn {
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
      }
    }
  }

  div.text-center.mt-4 {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  div.text-center.mt-4 button {
    width: 100%;
    height: 50px;
  }
}

@media (max-height: 650px) {
  div.container.text-center {
    height: auto;
    padding: 1rem;
    width: 90%;
    margin-bottom: 10px;
    flex-direction: row;
  }

  h1 {
    font-size: 1.4rem;
    margin-bottom: 0.5rem;
    text-align: center;
  }

  form.my-3 {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
  }

  input.form-control {
    width: 80%;
    margin: 0 auto;
    padding: 8px;
    font-size: 0.9rem;
  }

  button.btn {
    width: 80%;
    font-size: 0.9rem;
    padding: 8px;
    margin: 0 auto;
  }

  img {
    width: 20%;
    height: 100px;
    margin-top: 10px;
  }

  div.text-center {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
  }

  div.text-center button {
    width: 85%;
    height: 45px;
  }

  div#qrcode canvas {
    width: 140px !important;
    height: 140px !important;
  }
}
